@model ZapateriaMayan.ViewModels.PedidoViewModel


<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="card-body " style="overflow-x: auto">
                @* <button class="btn btn-primary btn-xs float-right"> <i class="fas fa-undo-alt"></i> &nbsp; Actualizar</button>*@

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Mostrar precio por mayor</label>
                    </div>
                </div>

                <div id="checkbox-value"></div>
                <br />

                <table id="example1" class="table table-bordered table-striped">



                    <thead>
                        <tr>
                            <th>Cod.</th>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Talla</th>
                            <th>Observacion</th>
                            <th>Cant.</th>
                            <th>Precio</th>
                            <th>Desc. %</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Productos)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <img src="~/Images/@item.Imagen" height="100" />

                            </td>
                            <td>@item.NombreProducto</td>

                            <td>

                                <select name="cars" id="cars" class="" style="width: 50px">
                                    <option value=""> ... </option>

                                    @foreach (var talla in item.DetalleTallas.Where(a => a.Talla.EstadoTallaa == false))
                                    {
                              <option value="@talla.Talla.Id"> @talla.Talla.NombreTalla </option>
}
                                </select>
                                <span class="existencias-talla" style="color:red">X</span>


                            </td>
                            <td>
                                <textarea placeholder="Observacion..." style="width: 250px" ></textarea>
                            </td>
                            <td>
                                <input type="number" value="0" style="width: 50px" />
                            </td>
                            <td>
                                <span class="precio-normal">@item.Precio</span>
                                <span class="precio-mayorista" style="display: none;">@item.PrecioOferta</span>
                                @*<input type="number" value="@item.Precio"/>*@
                            </td>
                            <td>
                                <input type="number" value="0" style="width: 50px" />

                            </td>
                            <td>
                                <a href="#" class="btn btn-info btn-sm agregarDetallePedido">
                                    Agregar
                                </a>
                            </td>
                        </tr>}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Cod.</th>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Talla</th>
                            <th>Observacion</th>
                            <th>Cant.</th>
                            <th>Precio</th>
                            <th>Desc. %</th>
                            <th>Acciones</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="card-body">
    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Pedidos</a>
        </li>

        @*<li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Solicitudes</a>
            </li>*@

    </ul>
    <div class="tab-content" id="custom-content-below-tabContent">
        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
            <br />
            <section class="content">

                <div class="container-fluid">
                    <div>
                        <button class="btn btn-warning btn-sm" id="guardar-borrador"><i class="fas fa-file-export"></i> Guardar pedido en espera e ingresar a producción</button>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card card-navy">
                                <div class="card-header">
                                    <h3 class="card-title">Datos pedido</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->

                                <div class="card">

                                    <div class="card-header">
                                        @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
                                                Launch Large Modal
                                            </button>

                                            <button class="btn btn-primary btn-xs"><i class="fas fa-plus-square"></i> &nbsp; Nuevo</button>*@

                                        @*<a href="@Url.Action("NuevoContacto", "Clientes")" target="_blank" class="btn btn-primary btn-xs">
                                                <i class="fas fa-plus-square"></i> Agregar
                                            </a>*@

                                        <select id="tipocliente">
                                            <option value="cliente-recurrente">Cliente Recurrente</option>
                                            <option value="cliente-nuevo">Cliente Nuevo</option>
                                        </select>

                                        <button class="btn btn-primary btn-sm float-right" id="mod-cliente">Modificar</button>
                                    </div>
                                    <div class="card-body">



                                        <div class="cliente-recurrente row c">

                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    <label>Cliente</label>

                                                    @Html.DropDownListFor(m => m.Pedido.ClienteId, Model.ListaClietnes, "Seleccione...", new { @class = "form-control select2", @style = "width: 100%;", @id = "dropdown" })
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    <label>Teléfono</label>
                                                    <input class="" type="radio" id="" name="TipoContactocr" value="Telefono" checked="checked">
                                                    @Html.TextBoxFor(m => m.Pedido.Telefonoc, new { @class = "form-control", @placeholder = "Teléfono", @id = "telefonocr" })
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    @*@Html.DropDownList("ContactoPrincipal", Model.TipoContactoList, "Seleccione...", new { @class = "form-control select2", @style = "width: 100%;", @id = "" })*@
                                                    <label> Facebook: <span id="fbcliente" class="text-danger"></span></label> &nbsp; <span id="fbc"> <input class="" type="radio" id="" name="TipoContactocr" value="Facebook"></span> <br />
                                                    <label> Whatsapp: <span id="whatscliente" class="text-danger"></span></label> &nbsp;<span id="whc"><input class="" type="radio" id="" name="TipoContactocr" value="Whatsapp"></span><br />
                                                    <label> Instagram: <span id="instacliente" class="text-danger"></span></label>&nbsp;<span id="instac"><input class="" type="radio" id="" name="TipoContactocr" value="Instagram"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">




                                                @*<div class="col-sm-6">
                                                        <div class="form-group">




                                                            <label>Desde</label>

                                                            <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                                                @Html.TextBoxFor(d => d.Pedido.Inicio, new { @class = "form-control datetimepicker-input", @data_target = "#reservationdate" })
                                                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Hasta</label>
                                                            @Html.TextBoxFor(m => m.Pedido.Final, new { @class = "form-control", @placeholder = "Inicio Fecha", @id = "telefono" })
                                                        </div>
                                                    </div>*@

                                                <div class="form-group">
                                                    <label>Fecha de entrega</label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control float-right fecha-entregacr" id="reservationtime">
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Región</label>
                                                    <div class="custom-control custom-radio">
                                                        @*@Html.RadioButtonFor(m => m.Pedido.Region, "Capital", new { @class = "custom-control-input", @id = "customRadio1", @checked = true })*@
                                                        <input class="custom-control-input" type="radio" id="customRadio1" name="Regionc" value="Capital" checked="checked">
                                                        <label for="customRadio1" class="custom-control-label">Capital</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        @*@Html.RadioButtonFor(m => m.Pedido.Region, "Interior", new { @class = "custom-control-input", @id = "customRadio2" })*@
                                                        <input class="custom-control-input" type="radio" id="customRadio2" name="Regionc" value="Interior">
                                                        <label for="customRadio2" class="custom-control-label">Interior</label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Dirección</label>
                                                    @Html.TextAreaFor(m => m.Pedido.Direccion, new { @class = "form-control", @placeholder = "Dirección", @rows = 4, @id = "direccioncr" })
                                                    @*@Html.ValidationMessageFor(m => m.Cliente.Nombres, "", new { @class = "text-danger" })*@
                                                    @*<input class="form-control" placeholder="Nombres">*@
                                                </div>

                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    @Html.TextAreaFor(m => m.Pedido.Observacion, new { @class = "form-control", @placeholder = "Observación", @rows = 4, @id = "Observacioncr" })
                                                    @*@Html.ValidationMessageFor(m => m.Cliente.Nombres, "", new { @class = "text-danger" })*@
                                                    @*<input class="form-control" placeholder="Nombres">*@
                                                </div>

                                            </div>

                                        </div>
















                                        <div class="cliente-nuevo row c">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <label>Nombre</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Nombres, new { @class = "form-control", @placeholder = "Nombres", @id = "nombrescn" })
                                                    </div>

                                                </div>


                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <input class="" type="radio" id="" name="TipoContactocn" value="Facebook" checked="checked"><label>Facebook</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Facebook, new { @class = "form-control", @placeholder = "Facebook", @id = "facebookcn" })
                                                    </div>

                                                </div>



                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <input class="" type="radio" id="" name="TipoContactocn" value="Telefono"><label>Teléfono 1</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Telefono1, new { @class = "form-control", @placeholder = "Teléfono 1", @id = "telefono1cn" })
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <label>Teléfono 2</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Telefono2, new { @class = "form-control", @placeholder = "Teléfono 2", @id = "telefono2cn" })
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <input class="" type="radio" id="" name="TipoContactocn" value="Whatsapp"><label>Whatsapp</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Whatsapp, new { @class = "form-control", @placeholder = " Whatsapp", @id = "whatsappcn" })
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <input class="" type="radio" id="" name="TipoContactocn" value="Instagram"><label>Instagram</label>
                                                        @Html.TextBoxFor(m => m.Cliente.Instagram, new { @class = "form-control", @placeholder = "Instagram", @id = "instragramcn" })
                                                    </div>

                                                </div>


                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Dirección</label>
                                                        @Html.TextAreaFor(m => m.Pedido.Direccion, new { @class = "form-control", @placeholder = "Dirección", @rows = 10, @id = "direccioncn" })
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Fecha de entrega</label>

                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control float-right fecha-entregacn" id="reservationtime2">
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                </div>



                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Región</label>
                                                        <div class="custom-control custom-radio">
                                                            @*   @Html.RadioButtonFor(m => m.Cliente.Region, "Capital", new { @class = "custom-control-input", @id = "customRadio1", @checked = true, @name = "Regionc"})*@
                                                            <input class="custom-control-input" type="radio" id="customRadio3" name="Regioncn" value="Capital" checked="checked">
                                                            <label for="customRadio3" class="custom-control-label">Capital</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            @*@Html.RadioButtonFor(m => m.Cliente.Region, "Interior", new { @class = "custom-control-input", @id = "customRadio2", @name = "Regionc" })*@
                                                            <input class="custom-control-input" type="radio" id="customRadio4" name="Regioncn" value="Interior">
                                                            <label for="customRadio4" class="custom-control-label">Interior</label>
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.Pedido.Region, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Observación</label>
                                                        @Html.TextAreaFor(m => m.Pedido.Observacion, new { @class = "form-control", @placeholder = "Dirección", @rows = 10, @id = "observacioncn" })
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="card card-navy">
                                <div class="card-header">
                                    <h3 class="card-title">Datos producto</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->


                                <div class="card">

                                    <div class="card-header">
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-xl">
                                            <i class="fas fa-plus-square"></i> &nbsp; Agregar producto
                                        </button>


                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body p-0" style="overflow-x: auto">
                                        <table class="table table-sm" id="mytablec">
                                            <thead>
                                                <tr>
                                                    <th style="width:1px">Cod.</th>
                                                    <th>Descripción</th>
                                                    <th style="width:115px;">Talla</th>
                                                    <th style="width:1px; display:none">Val</th>
                                                    <th style="width: 115px;">Cant.</th>
                                                    <th style="width:115px;">Precio</th>
                                                    <th style="width:115px;">Subtotal
                                                    <th style="width:115px;">Desc.</th>
                                                    <th style="width:115px;">Total</th>
                                                    <th style="width:60px;">Acción</th>
                                                    <th style="width:115px; color: red;">A fabricar</th>
                                                    <th>Reserva</th>
                                                </tr>
                                            </thead>
                                            <tbody id="detallepedido"></tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>


                                <div class="text-right" style="margin-right:1.5em">
                                    <h5>Subtotal: Q <span id="subtotal-value">0.00</span></h5>
                                    <h5>Descuento: Q <span id="descuento-value">0.00</span></h5>
                                    <h5>Total: Q <span id="total-value">0.00</span></h5>
                                </div>


                            </div>

                            <div class="float-right">
                                <button class="btn btn-warning btn-sm" id="crear-pedido">Crear pedido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>


        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
                <div class="col-md-10 pt-5" style="float:none;margin:auto;">
                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title">Datos de solicitud a producción</h3>
                        </div>


                        <div class="card">

                            @*<div class="card-header">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-xl">
                                        <i class="fas fa-plus-square"></i> &nbsp; Agregar producto
                                    </button>


                                </div>*@
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-sm" id="mytablesolis">
                                    <thead>
                                        <tr>
                                            <th style="width:1px">Cod.</th>
                                            <th>Descripcion</th>
                                            <th style="width:115px;">Talla</th>
                                            <th style="width:1px; display:none">Val</th>
                                            <th style="width: 115px;">Color</th>
                                            <th style="width:60px;">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody id="detallesolicitud"></tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>

