@model IEnumerable<CapaBaseDeDatos.Models.Ruta>

@{ ViewBag.Title = "Mensajeros y Rutas";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@Html.Partial("_Mensaje")

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Rutas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mensajeros y Rutas</a></li>
                    <li class="breadcrumb-item active">Todos Las Rutas</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">
            <div class="col-12">
                <a href="@Url.Action("NuevaRuta","MensajeroYRutas")" class="btn btn-primary">Nueva Ruta</a>

            </div>
        </div>


    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de rutas</h3>
                <div>
                    <a href="" class="btn btn-outline-primary btn-xs float-right" style="margin:0.2em">
                        <i class="fas fa-th-large"></i>
                    </a>
                    <a href="" class="btn btn-primary btn-xs float-right" style="margin: 0.2em">
                        <i class="fas fa-list "></i>
                    </a>
                </div>

            </div>

            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Ruta</th>
                            @*<th>Estado</th>*@
                            <th class="text-center">Costo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ruta in Model)
                        {
                        <tr onclick="location.href = '@Url.Action("EditarRuta", "MensajeroYRutas", new { id = ruta.Id})'">
                            <td>@ruta.Descripcion</td>
                            <td>@ruta.Costo</td>
                            @*<td>
            @if (mensajero.Estado == false)
            {
                <span class=" badge badge-success">Activo</span>
            } else
            {
                <span class="badge badge-danger">Inactivo</span>
            }
        </td>*@
                            <td class="text-center">

                                <a class="btn btn-danger btn-xs" href="@Url.Action("EliminarRuta","MensajeroYRutas", new { id = ruta.Id})"><i class="fas fa-trash-alt"></i></a>

                            </td>
                        </tr>
}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Ruta</th>
                            @*<th>Estado</th>*@
                            <th class="text-center">Costo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <!-- /.card-body -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@section scripts{

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>


    <script>$(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script>
}